<h1>MAIN PAGE</h1>
<h3>You have an authenticated session</h3>

<div>
  <a href="/">
    <img src="https://static.boredpanda.com/blog/wp-content/uploads/2014/02/funny-wet-cats-2.jpg" alt="angry cats">
  </a>
</div>